dist
target
*.iml
*.ipr
*.iws
*.tar.gz
*.swp
*.swo
.classpath
.project
.settings/
test-output/
**/.classpath
**/*.log
**/.project
**/test-output/
**/.settings/
**/metastore_db/
common/src/test/java/META-INF/
lina/src/main/java/META-INF/
**/bin
**/dependency-reduced-pom.xml
